#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input-text {
  vertical-align: middle;
}

.input-number {
  width: 4rem;
}

.chart {
  margin: 2rem;
}

.show-graph {
  display: inline-block;
  width: 50%;
}

.invisible {
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  color: transparent;
  border: transparent;
  box-shadow: none;
}

.invisible:focus,
.invisible:hover,
.invisible:active {
  outline: transparent;
  border: transparent;
}

.github-corner {
  width: 4rem;
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1;
}

.github-corner:hover .octo-body {
  animation: octocat-push .56s ease-in-out;
}

@media screen and (max-width: 768px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-push .56s ease-in-out;
  }
}

@keyframes octocat-push {

  0%,
  to {
    transform: rotate(10deg);
  }

  20%,
  60% {
    transform: rotate(10deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

.github-corner svg {
  color: #fff;
  fill: black;
  height: var(--header-height);
  width: var(--header-height);
}